{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Login</h2>
        <form method="post">
            <table>

            {% csrf_token %}
            {{ form.as_table }}
            
        </table>
            <button type="submit" class="btn btn-primary">Login</button>
            <p>Don't have an account? <a href="{% url 'signup' %}">Register</a></p>
            
        </form>
    </div>
</div>
{% endblock %}
